include MANIFEST.in
include CHANGELOG.txt
include CONTRIBUTING.md
include README.md
include LICENSE
include pyproject.toml
include requirements.txt
include .github/workflows/python-package.yml
include tests/*
include docs/*
